.portfolio-title {
    font-weight: 600;
    font-size: 1.5625rem;
    line-height: 200%;
    letter-spacing: 0.02em;
    margin-bottom: 1rem;
}

.portfolio-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: 0.405em;
    color: white;
    height: 100%;
    z-index: 1;
}

.divider {
    width: 5%;
    height: 4rem;
    position: relative;
}

.portfolio-name h3 {
    cursor: default;
}

.portfolio-master {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    overflow: hidden;
}

.portfolio-preview-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
}

.portfolio-preview-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -99;
}

.portfolio-previews {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.7s;
    width: 47.5%;
    min-width: 448px;
    margin-bottom: 2rem;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.portfolio-previews:first-child {
    margin-right: 1rem;
}

.portfolio-previews:last-child {
    margin-left: 1rem;
}

.portfolio-previews:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
    .portfolio-previews:first-child {
        margin-right: auto;
        margin-left: auto;
    }
    
    .portfolio-previews:last-child {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576pc) {
    .portfolio-previews {
        width: 100%
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .portfolio-name {
        font-size: 2rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .portfolio-name {
        font-size: 2rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 575px){
    .portfolio-name {
        font-size: 1rem;
        line-height: 2rem;
    }
}