.resume {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resume-download {
    text-decoration: none;
}

.resume-help {
    display:flex;
    flex-direction: row;
    justify-content: center;
}